/* purgecss start ignore */
body {
    font-size: 17px;
}

a {
    @apply font-semibold text-blue-700;

    &:hover {
        @apply text-blue-800;
    }
}

.content,
footer {
    a:not(.no-underline) {
        @apply underline;
    }
}

code {
    @apply bg-gray-300 px-1 py-px rounded;
    font-size: .85em;
}

code.hljs {
    @apply bg-transparent p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply font-normal;
    }
}

.content {
    li {
        @apply mb-2;
    }

    li:last-child {
        @apply mb-0;
    }

    ul {
        @apply list-disc pl-12 my-4;
    }

    li {
        ul,
        ol {
            @apply my-0 ml-4 pt-1;

            li {
                @apply mb-1;
            }
        }
    }
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal pl-2;
    list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight mb-4 mt-8 text-blue-900 font-display relative;

    &:first-child {
        @apply mt-0;
    }
}

h1 {
    @apply font-extrabold text-5xl;
}

h2 {
    @apply font-bold text-4xl mt-10 mb-2;

    &:first-child {
        @apply mt-10;
    }
}

h3 {
    @apply font-bold text-2xl;
}

h4 {
    @apply font-normal text-2xl;
}

h5 {
    @apply font-normal text-xl;
}

h6 {
    @apply font-light text-lg;
}

hr {
    @apply border-b border-blue-400 my-12 rounded-full;
}

p {
    @apply my-6;
}

pre {
    @apply leading-loose my-6 overflow-x-auto text-base p-0;

    code {
        @apply bg-transparent block p-4;
    }
}

table {
    @apply w-full text-left rounded-lg overflow-hidden;

    th {
        @apply text-sm font-semibold text-gray-700 p-2 bg-gray-300;
    }

    tr:first-child td {
        @apply border-0;
    }

    td {
        @apply p-2 border-t text-sm bg-gray-100 border-gray-400;
    }
}

.content {
    @apply pl-6;
}

.anchor-link {
    border: none !important;
    @apply text-blue-600;
    display: block;
    font-size: .75em;
    font-weight: 400;
    height: 1em;
    position: absolute;
    right: 100%;
    top: .2em;
    width: 1em;
    text-align: right;
    padding-right: .25em;
    text-decoration: none !important;

    &:before {
        content: '#';
    }
}
/* purgecss end ignore */
